.color1 {
  background-color: rgba(0, 68, 255, 0.3);
  /* background-color: #0046FF; */
}
.color2 {
  background-color: #73C8D2;
}
.color3 {
  background-color: #F5F1DC;
}
.color4 {
  background-color: #FF9013;
}


/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */

:root {
  /* COLOR */
  --COLOR: #F5F1DC;
  --BGCOLOR: #121212;
  --LINK-COLOR: #73C8D2;
  --BUTTON-BGCOLOR: #FF9013;
  --CARD-BGCOLOR: rgba(255, 145, 19, 0.08); /* #1F1B24 worth to try */
  --BORDER-COLOR: rgba(255, 255, 255, 0.1)

  /* FONT */
  --FF ""
}


/* || GENERAL STYLES */

html {
  background-color: var(--BGCOLOR);
  color: var(--COLOR)
}
body {


}



/* || HEADER */











